#header {
    height: var(--header-height);
}

.header-wrap{
    width: 100%;
    height: 100%;
    max-width: 620px;
    margin: auto;
}

.header-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #c34c48;
    transition: border-bottom 0.5s ease-in-out 0s;
}

.header-icon{
    height: 60px;
}

.header-logo{
    padding: 10px 0;
}

.header-logo > a {
    display: flex;
    align-items: center;
}
.header-logo > a > span{
    margin-left: 5px;
    display: block;
    text-decoration: none;
    color: var(--white-color);
    font-size: 2rem;
    line-height: 1;
    font-weight: bold;
}


.header-logo > a > img{
    width: 20px;
}

.header-icon{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-icon-item{
    display: flex;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
    border-radius: 4px;
    background: none rgba(255, 255, 255, 0.2);
    opacity: 0.9;
    min-width: 70px;
    color: var(--white-color);
    border: none;
    margin-left: 10px;
    font-size: 14px;
    height: 32px;
    padding: 0 12px;
}
.header-icon-img{
    width: 16px;
    margin-right: 5px;
}

.header-icon-item:hover{
    opacity: 1;
}


.app-container{
    padding-top: 40px;
    max-width: 620px;
    margin: auto;
}

.time-wrap{
    max-width: 480px;
    margin: auto;
    padding: 25px 30px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 6px;
}

.pomo-status{
    width: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.pomo-status-btn{
    border: none;
    color: white;
    margin: 0px;
    border-radius: 4px;
    font-size: 16px;
    padding: 2px 12px;
    height: 28px;
    cursor: pointer;
    background: none;
    box-shadow: none;
    outline: none;
    position: relative;

}

.pomo-status-btn:active,
.pomo-status-btn-active:active{
    top: 3px;
}

.pomo-status-btn-active{
    border: none;
    margin: 0px;
    border-radius: 4px;
    font-size: 16px;
    padding: 2px 12px;
    height: 28px;
    cursor: pointer;
    background: none rgba(0, 0, 0, 0.15);
    box-shadow: none;
    color: white;
    opacity: 1;
    font-weight: bold;
    outline: none;  
}

.timer{
    display: flex;
    justify-content: center;
    font-size: 120px;
    line-height: 150px;
    text-align: center;
    font-weight: bold;
    color: var(--white-color);
    user-select: none;
}

.btn-wrap{
    display: flex;
    justify-content: center;
}

.btn {
    cursor: pointer;
    border: none;
    margin: 20px 0px 0px;
    padding: 0px 12px;
    border-radius: 4px;
    box-shadow: rgb(235 235 235) 0px 6px 0px;
    font-size: 22px;
    height: 55px;
    color: rgb(217, 85, 80);
    font-weight: bold;
    width: 200px;
    background-color: white;
    transition: color 0.5s ease-in-out 0s;
    position: relative;
}

.task-wrap{
    max-width: 480px;
    margin: auto;
    margin-top: 30px;
    border-radius: 6px;
}

.task-bar{
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid rgba(255, 255, 255, 0.6);
    padding-bottom: 14px;
}

.task-bar > span{
    display: block;
    font-size: 20px;
    color: var(--white-color);
    font-weight: bold;
}

.icon-wrap{
    border-radius: 4px;
    background: none rgba(255, 255, 255, 0.2);
    opacity: 0.9;
    color: var(--white-color);
    border: none;
    font-size: 14px;
    padding: 8px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.icon-wrap:hover{
    opacity: 1;
}

.task-list{
    margin-top: 10px;
}

.add-task{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60px;
    border-radius: 6px;
    border: 2px dashed rgba(255,255,255,0.4);
    background-color: rgba(0, 0, 0, 0.1);
}

.add-task-icon{
    width: 18px;
    margin-right: 8px;
    opacity: 0.8;
}

.add-task-text{
    font-size: 16px;
    color: var(--white-color);
    font-weight: bold;
    opacity: 0.8;

}
.add-task:hover{
    cursor: pointer;
}

.add-task:hover
.add-task-text {
    opacity: 1;
    cursor: pointer;
}

.add-task:hover
.add-task-icon {
    opacity: 1;
    cursor: pointer;
}

.task{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 60px;
    border-radius: 6px;
    background-color: var(--white-color);
    border-left: 6px solid white;
    cursor: pointer;
    margin-bottom: 8px;
}

.task:hover{
    border-left: 6px solid #ccc;
}

.task-active{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 60px;
    border-radius: 6px;
    background-color: var(--white-color);
    border-left: 6px solid rgb(34, 34, 34);
    cursor: pointer;
    margin-bottom: 8px;
}

.task-opt{
    display: flex;
    align-items: center;
}

.task-est-pomo{
    display: flex;
    font-size: 14px;
    font-weight: 500;
    color: rgb(187, 187, 187);
    margin-right: 18px;
    align-items: center;
}

.pomo-done{
    font-size: 18px;
}

.task-icon-wrap{
    border-radius: 4px;
    background: none rgba(255, 255, 255, 0.2);
    opacity: 0.9;
    color: var(--white-color);
    border: 1px solid rgb(233,233,233);
    font-size: 14px;
    padding: 8px;
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-right: 8px;
}

.task-icon-wrap:hover{
    background-color: rgb(233,233,233);
}

.task-icon{
    width: 16px;
    opacity: 0.4;
}

.task-info{
    width: 75%;
    height: 60px;
    display: flex;
    align-items: center;
    margin-left: 14px;
    font-size: 16px;
    color: #555;
    font-weight: bold;
}

.task-status{
    display: inline-block;
    width: 24px;
    height: 24px;
    border: 2px solid rgb(223, 223, 223);
    background-color: rgb(223, 223, 223);
    margin-right: 10px;
    border-radius: 50%;
    cursor: pointer;
}

.task-status-active{
    width: 24px;
    height: 24px;
    border: 2px solid rgb(217, 85, 80);
    margin-right: 10px;
    border-radius: 50%;
    background-color: rgb(217, 85, 80);
    display: inline-block;
    cursor: pointer;
}

.task-name{
    overflow: hidden;
    width: 85%;
}

.task-name-disabled{
    text-decoration: line-through;
    color: rgb(187, 187, 187);
    overflow: hidden;
    width: 85%;
}

.task-status::after,
.task-status-active::after{
    content: "";
    display: block;
    margin-left: 7px;
    margin-top: 3px;
    width: 5px;
    height: 11px;
    border-style: solid;
    border-color: rgb(255, 255, 255);
    border-image: initial;
    border-width: 0px 3px 3px 0px;
    transform: rotate(45deg);
}


.add-task-info{
    display: none;
}


.add-task-info-wrap{
    margin-top: 14px;
    background-color: white;
    padding: 20px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;

}
.task-title{
    width: 100%;

}

#task-title-input{
    border-radius: 4px;
    font-size: 22px;
    padding: 10px 0px;
    box-shadow: none;
    border: none;
    color: rgb(85, 85, 85);
    width: 100%;
    box-sizing: border-box;
    font-weight: bold;
}

#task-title-input::placeholder{
    color: rgb(221, 221, 221);
    font-style: italic;
}


.est-pomo{
    margin-top: 10px;
    font-size: 18px;
    color: #555;
    font-weight: bold;
}

.est-pomo-title{
    margin-bottom: 8px;
}

.est-pomo-quantity{
    display: flex;
    align-items: center;
}

#est-pomo-input{
    border-radius: 4px;
    background-color: rgb(239, 239, 239);
    font-size: 16px;
    padding: 10px;
    box-shadow: none;
    border: none;
    color: rgb(85, 85, 85);
    width: 75px;
    box-sizing: border-box;
    margin-right: 10px;
    font-weight: bold;
}

#est-pomo-input::-webkit-outer-spin-button,
#est-pomo-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.btn-est-pomo{
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    text-align: center;
    border-radius: 4px;
    cursor: pointer;
    opacity: 0.9;
    padding: 10px 12px;
    display: inline-block;
    min-width: 0px;
    width: 40px;
    background-color: white;
    color: rgb(85, 85, 85);
    border: 1px solid rgb(223, 223, 223);
    box-shadow: rgb(0 0 0 / 20%) 0px 2px 2px;
    margin: 0px 2px;
    line-height: 10px;
    font-size: 10px;
}

.btn-est-pomo-icon{
    width: 10px;
    opacity: 0.6;
}
.add-more-info{
    margin-top: 10px;
}

.add-more-info-btn{
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    text-align: center;
    border-radius: 4px;
    cursor: pointer;
    opacity: 0.9;
    font-size: 14px;
    background: none;
    border: none;
    box-shadow: none;
    color: rgba(0, 0, 0, 0.4);
    font-weight: bold;
    letter-spacing: 0.02em;
    text-decoration: underline;
    display: inline-block;
}

#task-note{
    display: none;
    /* display: block; */
    border-radius: 4px;
    background-color: rgb(239, 239, 239);
    border: none;
    padding: 10px 14px;
    color: rgb(85, 85, 85);
    width: 100%;
    box-sizing: border-box;
    height: 62px;
    font-size: 15px;
    line-height: 1.4em;
    margin: 8px 0px;
}

.task-manipulation{
    padding: 14px 20px;
    text-align: right;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    background-color: rgb(239, 239, 239);
    display: flex;
    -webkit-box-pack: justify;
    justify-content: right;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
}

.task-manipulation-cancle{
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    text-align: center;
    border-radius: 4px;
    cursor: pointer;
    opacity: 0.9;
    font-size: 14px;
    padding: 8px 12px;
    min-width: 70px;
    display: inline-block;
    margin-right: 14px;
    background: none;
    border: none;
    color: rgb(136, 136, 136);
    font-weight: bold;
    box-shadow: none;
}

.task-manipulation-save{
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    text-align: center;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: rgb(0 0 0 / 20%) 0px 2px 2px;
    color: white;
    opacity: 0.9;
    font-size: 14px;
    padding: 8px 12px;
    min-width: 70px;
    border: 2px solid rgb(171, 171, 171);
    pointer-events: none;
    display: inline-block;
    background-color: rgb(171, 171, 171);
}

.task-manipulation-save-enable{
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    text-align: center;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: rgb(0 0 0 / 20%) 0px 2px 2px;
    color: white;
    opacity: 0.9;
    font-size: 14px;
    padding: 8px 12px;
    min-width: 70px;
    background-color: rgb(34, 34, 34);
    border: 2px solid rgb(34, 34, 34);
    display: inline-block;
}